include include/link
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Scrumplex &middot; Livestream
        link(rel="stylesheet", href="scss/application.scss")
        include include/head
        meta(name="page-topic" content="Scrumplex")
        meta(name="robots" content="noindex")
    body.scroll
        include include/noscript

        div#particles-js
            div.particle-gradient

        div.container.wrapper#wrapper
            div.sheet.sheet-splash.wavy#main
                div.row: div.col
                    h1 WebRTC Live Stream Player
                    p.
                        Paste a WebSocket URL below, to watch a livestream.
                        If you want to setup your own live stream, then take a look at #[+link(true, false)(href="https://airensoft.gitbook.io/ovenmediaengine/") OvenMediaEngine].
                        #[br]
                        If you want to share your stream with others, then just share the URL of this page.

                div.row: div.col.flex.flex-align-center
                        label(for="stream-url") Stream URL
                        input.flex-grow(type="url", id="stream-url", name="stream-url")
                div.row: div.col
                        div#ovenplayer

        script(type="module", src="js/stream.js")
