mixin contact(icon, title, href, button_text)
    div.col-med-6.flex.flex-column.flex-justify-between
        div
            h3.text-center
                i(class=`icon-${icon}`)
                |
                |
                =title

            p: block
        div
            +link(true, false)(href=href).btn.btn-primary
                =button_text

div.row
    div.col
        h2 Contact
        p You can find and contact me on many platforms. Choose the one you like below.

    +contact("phone", "Phone", "tel:+4915678614220", "Call me")
        | Ring me a call at #[b +49 (0) 15678 614-220] for inquiries.
    +contact("mail", "Email", "mailto:contact@scrumplex.net", "Write an email")
        | Write me an email at #[b contact@scrumplex.net] for questions or help.
        | PGP:
        |
        +link(true, true)(href="https://keys.openpgp.org/search?q=contact%40scrumplex.net")
            code C10411294912A422
    +contact("matrix", "Matrix", "https://matrix.to/#/@scrumplex:duckhub.io", "Message me on Matrix")
        | Contact me on Matrix via #[b @scrumplex:duckhub.io] and have a conversation with me.
    +contact("telegram", "Telegram", "https://telegram.me/Scrumplex", "Message me on Telegram")
        | Contact me on Telegram at #[b @Scrumplex] and have a conversation with me.
