noscript
    link(href="scss/noscript.scss", rel="stylesheet")
    | Enable JavaScript for best experience. Source code of this website is available at
    |
    a(href="https://codeberg.org/Scrumplex/website", target="_blank", rel="noopener") Codeberg
    | .
